.margin{
    margin-top: 10%;
}
.un-a{
    color: inherit;
    cursor: pointer;
    text-underline-position: none;
}
.body{
    background-color: #f5f0f0;
}
.about{
    font-family: 'Allerta Stencil';
    background-color: white;
    border-radius: 2px;
    border-style: groove;
    padding-top: 10px;
}
.line{
    width: 50%;
}

.butttons{
    text-align: center;
}

.marginl{
    margin-left: 7px;
    margin-right: 7px;
}
.margin2{
    margin-top: 14px;
}
.description{
    margin-top: 20px;
    margin-bottom: 40px;
}
